<% if @boardRecord.nil? %>
  <form action="/bingo/new" method="GET">
    <center>
      <h5>빙고판이 없네요!</h5>
    </center>
    <div class="row">
      <div class="content col s12">
        <button type="submit" class="btn waves-effect waves-light" style="background-color:#F39800;width:100%">CREATE NEW BINGO</button>
      </div>
    </div>
  </form>
<% else %>
  <% (0...7).each do |row| %>
    <div class="row" style="padding:0;margin:0">
      <% (0...7).each do |col| %>
        <div class="col s1 cell waves-effect waves-light<%= " green accent-2" if @board[row][col][:checked] %>" style="padding:0;margin:0" data-checked="<%= @board[row][col][:checked] %>" data-target="<%="cell_#{row}#{col}"%>">
          <%= @board[row][col][:name] %>
        </div>
      <% end %>
    </div>
  <% end %>
  <form action="/bingo/add" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <label for="animal">Animal</label>
        <input type="text" placeholder="Animal" name="animal" required>
      </div>
    </div>
    <div class="row">
      <div class="content col s12">
        <button type="submit" class="btn waves-effect waves-light" style="background-color:#F39800;width:100%">ENTER</button>
      </div>
    </div>
  </form>
  <form action="/bingo/confirm" method="POST">
    <div class="row">
      <div class="content col s12">
        <button type="submit" class="btn waves-effect waves-light deep-orange" style="background-color:#F39800;width:100%">CONFIRM</button>
      </div>
    </div>
  </form>
<% end %>
<style>
  .cell {
    text-align:center;
    background-color:#888888;
    color:white;
  }
  .cell.active {
    background-color:#69F0AE;
  }
  h1, h2, h3, h4, h5, h6 {
    color:white;
  }
</style>