<% (0...7).each do |row| %>
  <div class="row" style="padding:0;margin:0">
    <% (0...7).each do |col| %>
      <div class="col s1 cell waves-effect waves-light" style="padding:0;margin:0" data-checked="<%= @board[row][col][:checked] %>" data-target="<%="cell_#{row}#{col}"%>">
        <%= @board[row][col][:name] %>
      </div>
    <% end %>
  </div>
<% end %>
<form action="/bingo/add" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <label for="animal">Animal</label>
      <input type="text" placeholder="Animal" name="animal" required>
    </div>
  </div>
  <input id="cell_number" type="hidden" name="cell">
  <div class="row">
    <div class="content col s12">
      <button type="submit" class="btn waves-effect waves-light" style="background-color:#F39800;width:100%">ADD ANIMAL</button>
    </div>
  </div>
</form>
<% if @animalCount >= 49 %>
<form action="/bingo/confirm" method="POST">
  <div class="row">
    <div class="content col s12">
      <button type="submit" class="btn waves-effect waves-light deep-orange" style="background-color:#F39800;width:100%">CONFIRM</button>
    </div>
  </div>
</form>
<% end %>
<style>
  .cell {
    text-align:center;
    background-color:#888888;
    color:white;
  }
  .cell.active {
    background-color:#69F0AE;
  }
</style>